* {
  box-sizing: border-box;
}

:root {
  --purple: #EDE9FE;
  --purple-dark: #30245C;
  --yellow: #FACC15;
  --white: #FFFFFF;
}

body {
  margin: 0;
  min-height: 100vh;

  color: var(--purple-dark);
  font-family: 'Inter', 'Segoe UI', sans-serif;

  background:
    radial-gradient(
      circle at center,
      #ffffff 0%,
      #f7f4ff 30%,
      #eee9ff 60%,
      #ddd5ff 100%
    );
}

.btn {
  background: var(--yellow);
  color: var(--purple-dark);
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #EAB308;
}

.form-control {
  border-radius: 5px;
  border: 1px solid var(--purple-dark);
}

#auth-card {
  max-width: 500px;
}

h1, h2, h3 {
  font-family: 'Fredoka', sans-serif;
}