* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Inter', 'Segoe UI', sans-serif;

  background:
    radial-gradient(
      circle at center,
      #ffffff 0%,
      #f2f5ff 30%,
      rgb(252, 204, 212) 60%,
      #c4cef8 100%
    );
}

.btn {
  background: #FACC15;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #EAB308;
}

#auth-card {
  max-width: 500px;
}

h1, h2, h3 {
  font-family: 'Fredoka', sans-serif;
}

#dashboard {
  display: none;
}

#detail-container {
  display:none
}

#toggle-link:hover{
  color: #EAB308;
  cursor: pointer;
}

.saved-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.saved-content small {
  display: block;
}
